mixin news-list()
  section.news-list
    h1.news-list__title Новости
    +new("Новость 1", "Хомяки – это весело", "12.12.2019")
    +new("Новость 2", "Хомяки – это надежно", "12.11.2019")
    +new("Новость 3", "Хомяки – это вам не мопсы", "12.10.2019")
